@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

/*Button Component*/
.Button{
  background-color: #ffd503;
  color: #333333;
  border: #ffd503;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Karla';
  border-radius: 0.8rem;
  width: 5.5rem;
  height: fit-content;
}
.Button:hover{
  color: #333333;
  background-color: #F4CE14;
}
.Button:active{
  color: #F4CE14;
}

#header{
  font-family: 'Karla';
  color: #333333;
}